---
import SocialPill from "./icons/SocialPill.astro";
---

<section class="container-about">
  <div>
    <img
      src="https://doobril.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2FCTO.0d03afc7.webp&w=1920&q=75"
      alt="avatar"
      class="img-avatar"
    />
  </div>
  <div>
    <h2
      class="font-semibold text-2xl text-white flex gap-x-3 items-center mb-2"
    >
      Sobre mi
    </h2>
    <p class="text-base font-normal text-gray-100/80 mb-4">
      Garantizo una experiencia de usuario impecable y en crear soluciones
      digitales optimizadas que superen las expectativas en cada proyecto.
      Desarollo interfaces innovadoras con las mejores prácticas y tecnologías
      actuales.
    </p>
    <SocialPill href="/jencler.pdf">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-paperclip"><path d="m21.44 11.05-9.19 9.19a6 6 0 0 1-8.49-8.49l8.57-8.57A4 4 0 1 1 18 8.84l-8.59 8.57a2 2 0 0 1-2.83-2.83l8.49-8.48"/></svg>
      Descargar CV
    </SocialPill>
  </div>
</section>
