---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    title: "CTO & Cofounder - Doobril",
    date: "Actualmente",
    description:
      "Agencia digital especializada en soluciones tecnológicas innovadoras. Lidero la estrategia tecnológica y el desarrollo de proyectos digitales que abarcan ecommerce, diseño, desarrollo web, y más.",
    link: "https://doobril.com",
  },
  {
    title: "Desarrollador Full-Stack - TO THE MOON S.A.C",
    date: "Diciembre 2021 - Noviembre 2024",
    description:
      "Especializado en React, Next.js, Node.js,   PostgreSQL y TypeScript. Amplia experiencia en la creación de aplicaciones web dinámicas y APIs robustas para diversos sectores.",
    link: "",
  },
  {
    title: "Desarrollador Front-End - Freelance",
    date: "Enero 2019 - Noviembre 2021",
    description:
      "Creación de componentes web interactivos y dinámicos utilizando Tailwind CSS, mejorando la experiencia de usuario y el rendimiento de las aplicaciones.",
    link: "",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-6">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
