---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    title: "CTO & Cofounder - Doobril",
    date: "Actualmente",
    description:
      "CTO & Cofouder en Doobril, agencia digital especializada en soluciones tecnológicas innovadoras. Lidero la estrategia tecnológica y el desarrollo de proyectos digitales que abarcan ecommerce, diseño, desarrollo web, y más.",
    link: "https://doobril.com",
  },
  {
    title: "Desarrollador Full-Stack - Freelance",
    date: "Diciembre 2022",
    description:
      "Desarrollador Full-Stack especializado en React, Next.js, Node.js,   PostgreSQL y TypeScript. Amplia experiencia en la creación de aplicaciones web dinámicas y APIs robustas para diversos sectores.",
    link: "",
  },
  {
    title: "Desarrollador Front-End - Freelance",
    date: "Enero 2020",
    description:
      "Desarrollador Front-End con experiencia en la creación de componentes web interactivos y dinámicos utilizando Tailwind CSS, mejorando la experiencia de usuario y el rendimiento de las aplicaciones.",
    link: "",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-6">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
