---
const date = new Date().getFullYear();
---

<footer
  class="w-full max-w-[740px] mx-auto py-4 mt-20 px-4 flex flex-col items-center justify-center gap-6 sm:flex-row-reverse sm:justify-between"
>
  <ul class="flex gap-6 flex-wrap items-center justify-center">
    <li>
      <a
        href="#home"
        class="text-sm text-nowrap text-gray-300 transition hover:text-purple-300/80"
        >Inicio</a
      >
    </li>
    <li>
      <a
        href="#about"
        class="text-sm text-nowrap text-gray-300 transition hover:text-purple-300/80"
        >Sobre mi</a
      >
    </li>
    <li>
      <a
        href="#experience"
        class="text-sm text-nowrap text-gray-300 transition hover:text-purple-300/80"
        >Experiencia</a
      >
    </li>
    <li>
      <a
        href="#projects"
        class="text-sm text-nowrap text-gray-300 transition hover:text-purple-300/80"
        >Proyectos</a
      >
    </li>
  </ul>

  <span class="text-center text-sm text-gray-500"
    >© {date}
    Hecho por Jencler Huaches</span
  >
</footer>
