<header
  class="w-full flex  justify-center items-center py-6 px-4 header-top-clases"
>
  <nav class="gap-6 flex flex-wrap items-center max-w-[1000px] mx-auto justify-center ">
    <a class="text-sm sm:text-lg text-nowrap text-gray-300 transition hover:text-purple-300/80" href="#home">Inicio</a>
    <a class="text-sm sm:text-lg text-nowrap text-gray-300 transition hover:text-purple-300/80" href="#about">Sobre mi</a>
    <a class="text-sm sm:text-lg text-nowrap text-gray-300 transition  hover:text-purple-300/80" href="#experience">Experiencia</a>
    <a class="text-sm sm:text-lg text-nowrap text-gray-300 transition  hover:text-purple-300/80" href="#projects">Proyectos</a>
  </nav>
</header>
