---
import GitHub from "./icons/GitHub.astro";
import Linkedin from "./icons/Linkedin.astro";
import Mail from "./icons/Mail.astro";
import SocialPill from "./icons/SocialPill.astro";
---

<h1 class="text-5xl font-semibold text-white mb-4">Desarrollador Full-Stack</h1>
<h2 class="text-lg text-red-100/90 opacity- mb-4">
  +5 años de experiencia en <span class="text-purple-300/80 font-semibold"
    >Desarrollo Web</span
  >. De San Martin, Perú <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    class="inline-block"
    viewBox="0 0 32 32"
    ><path fill="#fff" d="M10 4H22V28H10z"></path><path
      d="M5,4h6V28H5c-2.208,0-4-1.792-4-4V8c0-2.208,1.792-4,4-4Z"
      fill="#c82c2b"></path><path
      d="M25,4h6V28h-6c-2.208,0-4-1.792-4-4V8c0-2.208,1.792-4,4-4Z"
      transform="rotate(180 26 16)"
      fill="#c82c2b"></path><path
      d="M27,4H5c-2.209,0-4,1.791-4,4V24c0,2.209,1.791,4,4,4H27c2.209,0,4-1.791,4-4V8c0-2.209-1.791-4-4-4Zm3,20c0,1.654-1.346,3-3,3H5c-1.654,0-3-1.346-3-3V8c0-1.654,1.346-3,3-3H27c1.654,0,3,1.346,3,3V24Z"
      opacity=".15"></path><path
      d="M27,5H5c-1.657,0-3,1.343-3,3v1c0-1.657,1.343-3,3-3H27c1.657,0,3,1.343,3,3v-1c0-1.657-1.343-3-3-3Z"
      fill="#fff"
      opacity=".2"></path></svg
  >. <br />Especializado en el desarrollo de interfaces interactivas y usables,
  entregando lo mejor de mí cada proyecto.
</h2>
<nav class="flex gap-4 flex-wrap">
  <SocialPill href="https://github.com/jencler">
    <GitHub class="size-6" />
    Github
  </SocialPill>
  <SocialPill href="https://www.linkedin.com/in/jencler/">
    <Linkedin class="size-6" />
    Linkedin
  </SocialPill>
  <SocialPill href="mailto:jenclervasquez@gmail.com">
    <Mail class="size-6" />
    Email
  </SocialPill>
</nav>
