---
import Briefcase from "./icons/Briefcase.astro";
import SocialPill from "./icons/SocialPill.astro";
---

<section>
  <h2
    class="font-semibold text-2xl text-white flex gap-x-3 pt-8 items-center mb-6"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-wrench"
      ><path
        d="M14.7 6.3a1 1 0 0 0 0 1.4l1.6 1.6a1 1 0 0 0 1.4 0l3.77-3.77a6 6 0 0 1-7.94 7.94l-6.91 6.91a2.12 2.12 0 0 1-3-3l6.91-6.91a6 6 0 0 1 7.94-7.94l-3.76 3.76z"
      ></path></svg
    >
    Habilidades
  </h2>

  <section class="w-full gap-12 flex flex-wrap">
    <img width="40" height="40" src="/skills/html5.svg" alt="html" />
    <img width="40" height="40" src="/skills/css.svg" alt="css" />
    <img width="40" height="40" src="/skills/javascript.svg" alt="javascript" />
    <img width="40" height="40" src="/skills/react.svg" alt="react" />
    <img width="40" height="40" src="/skills/typescript.svg" alt="typescript" />
    <img width="40" height="40" src="/skills/git.svg" alt="git" />
    <img width="40" height="40" src="/skills/github-dark.svg" alt="github" />
    <img width="40" height="40" src="/skills/tailwindcss.svg" alt="tailwind" />
    <img width="40" height="40" src="/skills/astro_dark.svg" alt="Astro" />
    <img width="40" height="40" src="/skills/shadcn-ui_dark.svg" alt="shadcn" />
    <img
      width="40"
      height="40"
      src="/skills/nextjs_icon_dark.svg"
      alt="nextjs"
    />
    <img width="40" height="40" src="/skills/postgresql.svg" alt="PostgreSQL" />
    <img
      width="40"
      height="40"
      src="/skills/prisma_dark.svg"
      alt="Prisma"
    />
    <img width="40" height="40" src="/skills/nodejs.svg" alt="NodeJS" />
    <img width="40" height="40" src="/skills/expressjs_dark.svg" alt="Express" />
    <img width="40" height="40" src="/skills/nestjs.svg" alt="Nest" />

    <img width="40" height="40" src="/skills/cloudflare.svg" alt="cloudflare" />
    <img width="40" height="40" src="/skills/vercel_dark.svg" alt="Vercel" />
    <img width="40" height="40" src="/skills/cloudinary.svg" alt="Cloudinary" />
    <img width="40" height="40" src="/skills/supabase.svg" alt="supabase" />
    <img width="40" height="40" src="/skills/neon.svg" alt="Neon" />
    <img width="40" height="40" src="/skills/stripe.svg" alt="Stripe" />
    <img width="40" height="40" src="/skills/v0_dark.svg" alt="V0" />
    <img width="40" height="40" src="/skills/postman.svg" alt="Postman" />
  </section>
</section>
