---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
import "@fontsource-variable/onest";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <meta property="og:title" content="Jencler Huaches" />
    <meta
      property="og:description"
      content="Desarrollador Web Full-Stack con +5 años de experiencia"
    />

    <meta property="og:image" content="/og.png" />
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7590117992295087"
      crossorigin="anonymous"></script>
  </head>
  <body>
    <div
      class="absolute top-0 z-[-2] h-screen w-full bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
    >
    </div>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    scroll-behavior: smooth;
    font-family: "Onest Variable", sans-serif;
    color-scheme: dark;
  }
  body {
    background-color: rgb(10 10 10);
    width: 100%;
  }

  .header-top-clases {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2000;

    animation: animate-header linear both;
    animation-timeline: scroll(root);
    animation-range: 0 200px;
  }

  @keyframes animate-header {
    to {
      background: rgba(0, 0, 0, 0.4);
      backdrop-filter: blur(10px);
      color: black;
    }
  }
  .container-about {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 64px;
  }

  @media (min-width: 768px) {
    .container-about {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 64px;
    }
  }

  .img-avatar {
    width: 100%;
    max-width: 280px;
    min-width: 180px;
    border-radius: 12px;
  }
</style>
